<!DOCTYPE html>
<html xmlns="http://www.w3.orSystem.out.println(reader);g/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reading list Login</title>
</head>
<body>
<h1>Login page</h1>
<form method="post" th:action="@{/login}" th:object="${reader}">
    Username
    <input type ="text" id="username" name="username" th:field="*{username}"> </input> <br/>
    Fullname
    <input th:type="text" id="fullname" name="fullname" th:field="*{fullname}"> </input> <br/>
    Password:
    <input type ="password" id="password" name="password" th:field="*{password}"> </input><br/>
    <button type="submit">Log in</button>
    <csrf disabled="true"/>
</form>
</body>
</html>